" =============================================================================
" BASIC SETTINGS
" =============================================================================

set number
set history=1000
set hlsearch
set ignorecase
set incsearch
set smartcase
set matchpairs
set undolevels=2000
set nrformats
set visualbell
set clipboard+=unnamed
set ideajoin
set ideamarks
" set trackactionids

let mapleader=" "

" =============================================================================
" MANNUAL MAPPINGS
" =============================================================================

" Hide All Tool Windows  to Shift ESC


" =============================================================================
" PLUGINS
" =============================================================================

Plug 'tpope/vim-surround'
Plug 'tpope/vim-commentary'
Plug 'easymotion/vim-easymotion'
Plug 'preservim/nerdtree'

" EasyMotion Configuration
let g:EasyMotion_do_mapping = 0
nmap sf <Plug>(easymotion-f)
nmap sF <Plug>(easymotion-F)
nmap sk <Plug>(easymotion-k)
nmap sj <Plug>(easymotion-j)
nmap sw <Plug>(easymotion-w)
nmap sb <Plug>(easymotion-b)

" =============================================================================
" KEY MAPPINGS - DISABLED KEYS
" =============================================================================

nmap s <NOP>

" =============================================================================
" KEY MAPPINGS - BASIC VIM
" =============================================================================

" Hover documentation (synced with nvim)
nmap K <Action>(QuickJavaDoc)

" Command mode shortcut
nnoremap <C-m> :
vnoremap <C-m> :
inoremap <C-m> <CR>
cnoremap <C-m> <CR>

" =============================================================================
" KEY MAPPINGS - INSERT MODE
" =============================================================================

inoremap <C-f> <Esc>:let @z=@/<CR>/\v[)"}>]<CR>:let @/=@z<CR>:noh<CR>a
inoremap <C-b> <Esc>:let @z=@/<CR>?\v[("{<]<CR>:let @/=@z<CR>:noh<CR>i
inoremap <C-e> <C-o>A
inoremap <C-s> <C-o>I
inoremap <C-l> <C-o>A

" =============================================================================
" KEY MAPPINGS - NAVIGATION
" =============================================================================

" Tab navigation
nmap <PageDown> <Action>(NextTab)
nmap <PageUp> <Action>(PreviousTab)

" Line navigation (Helix-style)
nnoremap gh 0
nnoremap gs ^
nnoremap gl $

" Code block navigation
nmap [[ <Action>(MethodUp)
nmap ]] <Action>(MethodDown)
onoremap [[ :action MethodUp<CR>
onoremap ]] :action MethodDown<CR>

nmap ]c <Action>(VcsShowNextChangeMarker)
nmap [c <Action>(VcsShowPrevChangeMarker)

nmap ]e <Action>(GotoNextError)
nmap [e <Action>(GotoPreviousError)

" Jump between changes
nmap g; <Action>(JumpToLastChange)
nmap g, <Action>(JumpToNextChange)

" Code navigation (synced with nvim)
nmap gd <Action>(GotoDeclaration)
nmap gR <Action>(FindUsages)
nmap gt <Action>(GotoTypeDeclaration)
nmap gu <Action>(ShowUsages)
nmap gi <Action>(GotoImplementation)
nmap gI <Action>(GotoSuperMethod)

" Matching brackets
nmap mm <Action>(EditorMatchBrace)
nmap ms <Action>(EditorCodeBlockStart)
nmap ml <Action>(EditorCodeBlockEnd)

" =============================================================================
" KEY MAPPINGS - WINDOW/SPLIT MANAGEMENT
" =============================================================================

" Window navigation
nmap <C-h> <C-w>h
nmap <C-l> <C-w>l
nmap <C-k> <C-w>k
nmap <C-j> <C-w>j

" Split operations
nmap <leader>sv <Action>(SplitVertically)
nmap <leader>ss <Action>(SplitHorizontally)
nmap <leader>sx <Action>(Unsplit)

" Move editor to split direction (requires Tab Shifter plugin)
nmap <leader>sh <Action>(TabShiftActions.ShiftLeft)
nmap <leader>sl <Action>(TabShiftActions.ShiftRight)
nmap <leader>sj <Action>(TabShiftActions.ShiftDown)
nmap <leader>sk <Action>(TabShiftActions.ShiftUp)

" Resize splits (synced with nvim)
nmap <C-Up> <Action>(TabShiftActions.StretchUp)
nmap <C-Down> <Action>(TabShiftActions.StretchDown)
nmap <C-Left> <Action>(TabShiftActions.StretchLeft)
nmap <C-Right> <Action>(TabShiftActions.StretchRight)

" Open in split
nmap <C-v> <Action>(OpenInRightSplit)

" Navigation history
nmap <leader>sb <Action>(Back)
nmap <leader>sf <Action>(Forward)

" =============================================================================
" KEY MAPPINGS - TAB MANAGEMENT
" =============================================================================

nmap <leader>too <Action>(CloseAllEditorsButActive)
nmap <leader>tol <Action>(CloseAllToTheLeft)
nmap <leader>tor <Action>(CloseAllToTheRight)

" =============================================================================
" KEY MAPPINGS - TOOL WINDOWS (F1 prefix)
" =============================================================================

nmap <F1>s <Action>(ActivateStructureToolWindow)
nmap <F1>d <Action>(ActivateDatabaseToolWindow)
nmap <F1>t <Action>(ActivateTerminalToolWindow)
nmap <F1>b <Action>(ShowBookmarks)
nmap <F1>p <Action>(ActivateProblemsViewToolWindow)
nmap <F1>c <Action>(ActivateCommitToolWindow)
nmap <F1>f <Action>(ActivateFindToolWindow)
nmap <F1>r <Action>(ActivateRunToolWindow)

" =============================================================================
" KEY MAPPINGS - CODE ACTIONS (Tab prefix)
" =============================================================================

nmap <Tab>f <Action>(QuickFixes)
nmap <Tab>n <Action>(ShowIntentionActions)
nmap <Tab>u <Action>(FindUsages)
nmap <Tab>r <Action>(Refactorings.QuickListPopupAction)
nmap <Tab>v <Action>(IntroduceVariable)
nmap <Tab>y <Action>(CopyReferencePopupGroup)

" =============================================================================
" KEY MAPPINGS - LEADER ACTIONS
" =============================================================================

" Helix-style search (synced with nvim)
nmap <leader>/ <Action>(FindInPath)
nmap <leader>f <Action>(GotoFile)
nmap <leader>b <Action>(Switcher)

" Refactoring
nmap <leader>rn <Action>(RenameElement)

" Documentation & Diagnostics (synced with nvim)
nmap <leader>d <Action>(ShowErrorDescription)
nmap <leader>p <Action>(ParameterInfo)

" File operations
nmap <leader>v <Action>(CopyPaths)
nmap <leader>e <Action>(SelectInProjectView)

" Git
nmap <leader>gb <Action>(Git.Branches)
nmap <leader>gh <Action>(Vcs.ShowTabbedFileHistory)
nmap <leader>gc <Action>(ActivateCommitToolWindow)


" =============================================================================
" KEY MAPPINGS - BOOKMARKS
" =============================================================================

" Goto bookmarks (backtick)
nmap `0 <Action>(GotoBookmark0)
nmap `1 <Action>(GotoBookmark1)
nmap `2 <Action>(GotoBookmark2)
nmap `3 <Action>(GotoBookmark3)
nmap `4 <Action>(GotoBookmark4)
nmap `5 <Action>(GotoBookmark5)
nmap `6 <Action>(GotoBookmark6)
nmap `7 <Action>(GotoBookmark7)
nmap `8 <Action>(GotoBookmark8)
nmap `9 <Action>(GotoBookmark9)

" Toggle bookmarks (leader+m)
nmap <leader>m0 <Action>(ToggleBookmark0)
nmap <leader>m1 <Action>(ToggleBookmark1)
nmap <leader>m2 <Action>(ToggleBookmark2)
nmap <leader>m3 <Action>(ToggleBookmark3)
nmap <leader>m4 <Action>(ToggleBookmark4)
nmap <leader>m5 <Action>(ToggleBookmark5)
nmap <leader>m6 <Action>(ToggleBookmark6)
nmap <leader>m7 <Action>(ToggleBookmark7)
nmap <leader>m8 <Action>(ToggleBookmark8)
nmap <leader>m9 <Action>(ToggleBookmark9)

" =============================================================================
" RELOAD CONFIG
" =============================================================================

nnoremap <F10><F10> :source ~/.ideavimrc<CR>

