theme = "catppuccin_mocha"

[editor]
line-number = "relative"
mouse = false
middle-click-paste = false
# scrolloff = 999
scroll-lines = 3
shell = ["sh", "-c"]
cursorline = false
cursorcolumn = false
# rulers = [80, 120]
bufferline = "multiple"
idle-timeout = 0
completion-trigger-len = 2
auto-completion = true
auto-format = true
auto-save = false
text-width = 80

[editor.cursor-shape]
insert = "bar"
normal = "block"
select = "underline"

[editor.statusline]
left = ["mode", "spinner", "file-name", "file-modification-indicator"]
center = ["file-encoding", "file-line-ending", "file-type"]
right = ["diagnostics", "selections", "position", "position-percentage"]
separator = "│"
mode.normal = "NORMAL"
mode.insert = "INSERT"
mode.select = "SELECT"

[editor.lsp]
display-messages = true
# display-inlay-hints = false

[editor.file-picker]
hidden = false

[editor.indent-guides]
render = true
character = "╎"
skip-levels = 1

[editor.soft-wrap]
enable = true

[keys.normal]
"}" = "goto_next_paragraph"
"{" = "goto_prev_paragraph"
"C-r" = ":reload"
S-tab    = [":bp"]
tab      = [":bn"]
"C-g" = [":new", ":insert-output lazygit", ":buffer-close!", ":redraw"]
[keys.normal.space]
l = ":toggle lsp.display-inlay-hints"

[keys.select]
"}" = "goto_next_paragraph"
"{" = "goto_prev_paragraph"
